extends ../uelayout

block content
    script(type="text/javascript").
        const url = '#{url}';
        const iat = '#{iat}';
        const redirect = '#{redirect}'
        const retryUrl = '#{retryUrl}'
    script
        include forgotSend.js
    body.bg.flex
        .utility-panel
            if (flash)
                .flash-container.m-b-20
                    p=flash
            if (client && client.logo_uri)
                img.logo(src=client.logo_uri alt='Product Logo')
            else if (authGroupLogo)
                img.logo(src=authGroupLogo alt='Platform Logo')
            p.org-name=authGroupName
            p#title.header=title
            if iat
                include iat
            else
                include initiate
            div#loading
