extends layout

block content
  body(style="background: url(" + assets + "img/legacy-background.jpeg) no-repeat center center fixed;")
    section#head.section
      .row
        .col-lg-12
          .h-100.p-5.bg-light.rounded-3(style="max-width: 800px; margin: auto; margin-top: 50px; box-shadow: 1px 1px 2px slategrey;")
            h2=by
            h6="Copyright © " + year + " All Rights Reserved"
            h3=title
              span.version=" v" + version
            p.m-t-20=description
            .m-t-20
              a.btn.btn-outline-dark.m-r-5(href='/swagger') Swagger&nbsp;
              a.btn.btn-outline-dark.m-r-5(href='/api' style="margin: 5px;") Documentation&nbsp;
              a.btn.btn-outline-dark.m-r-5(href=url style="margin: 5px;") United Effects&nbsp;
              a.btn.btn-outline-dark.m-r-5(href=home style="margin: 5px;") Project&nbsp;

