extends layout

block content
  section#head.section
    .container.keyPad
      .row
        .col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.text-center
          h2.title=by
          div.tagline="Copyright © "+year+" All Rights Reserved"
          h3.subtitle=title
            span.version=" v"+version
          h4.tagline=description
          p
          .row
            .col-md-3
              a.btn.btn-default.btn-lg.btn-block(href='/swagger' style="font-size: 1.6em;") Swagger&nbsp;
            .col-md-3
              a.btn.btn-default.btn-lg.btn-block(href='/api' style="font-size: 1.6em;") Documentation&nbsp;
            .col-md-3
              a.btn.btn-default.btn-lg.btn-block(href=url style="font-size: 1.6em;") United Effects&nbsp;
            .col-md-3
              a.btn.btn-default.btn-lg.btn-block.disabled(href=home style="font-size: 1.6em;") Project&nbsp;

