extends uelayout

block content
  body.bg
    section#head.section
      .row
        .col-lg-12
          .h-100.p-5.bg-light.rounded-3(style="max-width: 800px; margin: auto; margin-top: 50px; box-shadow: 1px 1px 2px slategrey;")
            h2=by
            if custom===false
              h6="Copyright © " + year + " All Rights Reserved"
            h3=title
              span.version=" v" + version
            p.m-t-20=description
            .m-t-20
              a.btn.btn-outline-dark.m-r-5(href='/swagger') Swagger&nbsp;
              a.btn.btn-outline-dark.m-r-5(href='/api' style="margin: 5px;") Documentation&nbsp;
              if custom===false
                a.btn.btn-outline-dark.m-r-5(href=url style="margin: 5px;") #{company}&nbsp;
                if production!==true
                  a.btn.btn-outline-dark.m-r-5(href=home style="margin: 5px;") Project&nbsp;
                  a.btn.btn-outline-dark.m-r-5(href='https://github.com/UnitedEffects/ueauth' style="margin: 5px;") Code&nbsp;
              else
                a.btn.btn-outline-dark.m-r-5(href=url style="margin: 5px;") Home&nbsp;
            if custom===true
              p.pos-relative
                small.pos-absolute.top-0.right-0.m-t-20="Powered By: "
                  a(href="https://unitedeffects.com") United Effects

