extends layout

block content
    section#head.section
        .container
            div(style="background: lightslategrey;").card
                .card-body
                    h1(style="color: wheat").card-title.danger=title
                    if (client)
                        h2.card-subtitle.mb-2=client.clientName
                        if (authGroupName !== client.clientName)
                            h3.card-subtitle.mb-2=authGroupName
                    else
                        h2.card-subtitle.mb-2=authGroupName
                    if (flash)
                        h5.flash= flash
                    form(autocomplete='off', action='/'+authGroup+'/interaction/'+uid+'/login', method='post')
                        if !params.login_hint
                            input(required='', type='email', name='email', placeholder='Enter an email', autofocus='on')
                        else
                            input(required='', type='email', name='email', placeholder='Enter an email', value=params.login_hint)
                        if params.login_hint
                            input(required='', type='password', name='password', placeholder='and password', autofocus='on')
                        else
                            input(required='', type='password', name='password', placeholder='and password')
                        button.button.btn.btn-default(type='submit') Sign-in
                    if params.passwordless
                        hr
                        a.button.btn.btn-default(href='/'+authGroup+'/interaction/'+uid+'/passwordless-request') Login Without a Password
                        h5.passwordless We can send you a secure password free login link!
                    .login-help
                        a(href='/'+authGroup+'/interaction/'+uid+'/abort') [ Cancel ]
                        if (client.tosUri || tos)
                            a(href=(client.tosUri||tos)) [ Terms of Service ]
                        if (client.policyUri || policy)
                            a(href=(client.policyUri||policy)) [ Privacy Policy ]

