extends layout

block content
    body
        style(type='text/css').
            #linkedin {
                background-color: #0e76a8;
                color: white;
            }
            #linkedin:hover {
                background-color: #0a4c6b;
            }
            .fullWidth {
                width: 100%;
            }
            #github {
                background-color: #212529;
                color: white;
            }
            #github:hover {
                background-color: white;
                color: #212529;
            }
            #email {
                background-color: #1D2035;
                color: white;
            }
            #email:hover {
                background-color: white;
                color: #1D2035;
            }
            #twitter {
                background-color: #1a8cd8;
                color: white;
            }
            #twitter:hover {
                background-color: #177cc0;
            }
            #apple {
                background-color: black;
                color: white;
            }
            #apple:hover {
                background-color: #212529;
            }
        style(type='text/css').
            p {
                margin: 40px;
            }

            #loading {
                display: inline-block;
                width: 50px;
                height: 50px;
                border: 3px solid rgba(255, 255, 255, .3);
                border-radius: 50%;
                border-top-color: grey;
                animation: spin 1s ease-in-out infinite;
                -webkit-animation: spin 1s ease-in-out infinite;
            }

            @keyframes spin {
                to {
                    -webkit-transform: rotate(360deg);
                }
            }

            @-webkit-keyframes spin {
                to {
                    -webkit-transform: rotate(360deg);
                }
            }
        section#head.section
            .limiter
                .container-login100
                    .wrap-login100
                        .login100-form
                            if (client)
                                span.login100-form-title.p-b-10=client.clientName
                                if (authGroupName !== client.clientName)
                                    h3.login100-form-title.p-b-5=authGroupName
                            else
                                span.login100-form-title.p-b-10=authGroupName
                            if (flash)
                                h5.flash.m-b-20= flash
                            if (!mfa || mfa.pending !== true)
                                form.validate-form(autocomplete='off', action='/'+authGroup+'/interaction/'+uid+'/login', method='post')

                                    .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
                                        if !params.login_hint
                                            input.input100(type='email' name='email' autofocus='on' autocomplete='username')
                                            span.focus-input100
                                            span.label-input100 Email
                                        else
                                            input.input100(type='email' name='email' value=params.login_hint autocomplete='username')
                                            span.focus-input100
                                            span.label-input100 Email
                                    .wrap-input100.validate-input(data-validate='Password is required')
                                        if params.login_hint
                                            input.input100(type='password' name='password' autofocus='on' autocomplete='current-password')
                                            span.focus-input100
                                            span.label-input100 Password
                                        else
                                            input.input100(type='password' name='password' autocomplete='current-password')
                                            span.focus-input100
                                            span.label-input100 Password
                                    .flex-sb-m.w-full.p-t-3.p-b-32
                                        div
                                            a.txt1(href='/'+authGroup+'/forgotpassword')
                                                | Forgot Password?
                                        if (locked === false && registerUrl)
                                            div
                                                a.txt1(href=registerUrl)
                                                    | Register
                                    .container-login100-form-btn
                                        button.login100-form-btn(type='submit')
                                            | Login
                                if altLogin
                                    .text-center.p-t-20.p-b-20
                                        span.txt2
                                            | or sign in using
                                    if params.passwordless
                                        .container-login100-form-btn.m-b-10
                                            a.btn.btn-outline-dark.fullWidth(href='/' + authGroup + '/interaction/' + uid + '/passwordless-request', id='email')
                                                i.fas.fa-paper-plane
                                                span.p-l-10 Email Magic Link
                                    if loginButtons.length > 0
                                        each val in loginButtons
                                            form.validate-form(autocomplete='off', action='/' + authGroup + '/interaction/' + uid + '/federated', method='post')
                                                input(type="hidden" name="upstream" value=val.code)
                                                .container-login100-form-btn
                                                    if val.button === 'google'
                                                        button.btn.btn-outline-dark.fullWidth.m-b-10(type='submit', id='google')
                                                            img(width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                                                            span.google-button__text=val.text
                                                    else if val.button === 'linkedin'
                                                        button.btn.btn-block.fullWidth.m-b-10(type='submit', id='linkedin')
                                                            i.fab.fa-linkedin
                                                            span.p-l-10=val.text
                                                    else if val.button === 'microsoft'
                                                        button.btn.btn-outline-dark.fullWidth.m-b-10(type='submit', id='microsoft')
                                                            i.fab.fa-windows
                                                            span.p-l-10=val.text
                                                    else if val.button === 'github'
                                                        button.btn.btn-outline-dark.fullWidth.m-b-10(type='submit', id='github')
                                                            i.fab.fa-github
                                                            span.p-l-10=val.text
                                                    else if val.button === 'twitter'
                                                        button.btn.btn-block.fullWidth.m-b-10(type='submit', id='twitter')
                                                            i.fab.fa-twitter
                                                            span.p-l-10=val.text
                                                    else if val.button === 'apple'
                                                        button.btn.btn-block.fullWidth.m-b-10(type='submit', id='apple')
                                                            i.fab.fa-apple
                                                            span.p-l-10=val.text
                                                    else
                                                        button.btn.btn-outline-dark.fullWidth.m-b-10(type='submit')
                                                            i.fas.fa-arrow-circle-right
                                                            span.p-l-10=val.text
                            else
                                script(nonce=nonce, src="https://unpkg.com/axios/dist/axios.min.js")
                                script(nonce=nonce, src="https://code.jquery.com/jquery-3.6.0.slim.min.js", crossorigin="anonymous")
                                script(type="text/javascript").
                                    const authGroup = '#{authGroup}';
                                    const uid = '#{uid}';
                                    const accountId = '#{mfa.accountId}'
                                    const providerKey = '#{mfa.providerKey}'
                                script(nonce=nonce)
                                    include mfapolling.js
                                span(style="font-size: 20px;", id="mfa-pending").login100-form-title.p-b-10 Check your device for Multi Factor Authorization
                                center
                                    div(id='loading')
                                div(id="mfa")
                                a.btn.btn-outline-dark.fullWidth.p-t-10(href='/' + authGroup + '/interaction/' + uid, id='mfa-try-again', style='visibility: hidden')
                                    i.fas.fa-undo
                                    span.p-l-10 Try Again
                            .login-help.p-t-10
                                a(href='/' + authGroup + '/interaction/' + uid + '/abort') [ Cancel ]
                                if (client.tosUri || tos)
                                    a(href=(client.tosUri || tos)) [ Terms of Service ]
                                if (client.policyUri || policy)
                                    a(href=(client.policyUri || policy)) [ Privacy Policy ]
                        if (splashImage)
                            .login100-more(style="background-image: url('" + splashImage + "');")
                        else
                            .login100-more(style="background: linear-gradient(279.3deg, " + bgGradientLow + " 4.36%, " + bgGradientHigh + " 96.71%);")

