extends layout

block content
    body
        section#head.section
            .limiter
                .container-login100
                    .wrap-login100
                        form.login100-form.validate-form(autocomplete='off', action='/'+authGroup+'/interaction/'+uid+'/login', method='post')
                            //span.login100-form-title.p-b-43=title
                            if (client)
                                span.login100-form-title.p-b-10=client.clientName
                                if (authGroupName !== client.clientName)
                                    h3.login100-form-title.p-b-5=authGroupName
                            else
                                span.login100-form-title.p-b-10=authGroupName
                            if (flash)
                                h5.flash.m-b-20= flash
                            .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
                                if !params.login_hint
                                    input.input100(type='email' name='email' autofocus='on' autocomplete='username')
                                    span.focus-input100
                                    span.label-input100 Email
                                else
                                    input.input100(type='email' name='email' value=params.login_hint autocomplete='username')
                                    span.focus-input100
                                    span.label-input100 Email
                            .wrap-input100.validate-input(data-validate='Password is required')
                                if params.login_hint
                                    input.input100(type='password' name='password' autofocus='on' autocomplete='current-password')
                                    span.focus-input100
                                    span.label-input100 Password
                                else
                                    input.input100(type='password' name='password' autocomplete='current-password')
                                    span.focus-input100
                                    span.label-input100 Password
                            .flex-sb-m.w-full.p-t-3.p-b-32
                                //.contact100-form-checkbox
                                    input#ckb1.input-checkbox100(type='checkbox' name='remember-me')
                                    label.label-checkbox100(for='ckb1')
                                        | Remember me
                                div
                                    // todo :group/forgotpassword
                                    a.txt1(href='/'+authGroup+'/forgotpassword')
                                        | Forgot Password?
                            .container-login100-form-btn
                                button.login100-form-btn(type='submit')
                                    | Login
                            if params.passwordless
                                .text-center.p-t-46.p-b-20
                                    span.txt2
                                        | or sign in using
                                .container-login100-form-btn
                                    a.btn.login100-form-btn(href='/' + authGroup + '/interaction/' + uid + '/passwordless-request')
                                        | Email Magic Link
                            //.login100-form-social.flex-c-m
                                a.login100-form-social-item.flex-c-m.bg1.m-r-5(href='#')
                                    i.fa.fa-facebook-f(aria-hidden='true')
                                a.login100-form-social-item.flex-c-m.bg2.m-r-5(href='#')
                                    i.fa.fa-twitter(aria-hidden='true')
                            .login-help.p-t-10
                                a(href='/' + authGroup + '/interaction/' + uid + '/abort') [ Cancel ]
                                if (client.tosUri || tos)
                                    a(href=(client.tosUri || tos)) [ Terms of Service ]
                                if (client.policyUri || policy)
                                    a(href=(client.policyUri || policy)) [ Privacy Policy ]
                        if (!splashImage)
                            .login100-more(style="background-image: url('https://s3.amazonaws.com/ue-platform-content/background.jpg');")
                        else
                            .login100-more(style="background-image: url('" + splashImage + "');")
