extends layout

block content
    body
        style.
            .center {
                text-align: center;
            }
            .bolder {
                font-size: 18px;
                color: black;
            }
            .fields {
                width: 15vw;
                border: lightgray;
                border-style: solid;
                border-width: thin;
                padding: 5px;
                margin-right: 10px;
            }
            .field-button {
                padding-bottom: 5px;
            }
            .canvas {
                text-align: center;
            }
            .canvas-width {
                width: 50%;
            }
            .error {
                color: coral;
            }
            .hidden {
                visibility: hidden;
            }
            #loading {
                display: inline-block;
                width: 50px;
                height: 50px;
                border: 3px solid rgba(255, 255, 255, .3);
                border-radius: 50%;
                border-top-color: grey;
                animation: spin 1s ease-in-out infinite;
                -webkit-animation: spin 1s ease-in-out infinite;
            }

            @keyframes spin {
                to {
                    -webkit-transform: rotate(360deg);
                }
            }

            @-webkit-keyframes spin {
                to {
                    -webkit-transform: rotate(360deg);
                }
            }
        script(nonce=nonce, type="text/javascript").
            let state = '#{state}';
            const authGroup = '#{authGroup}';
            const url = '#{request}';
        script(nonce=nonce, src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js")
        script(nonce=nonce, src="https://code.jquery.com/jquery-3.6.0.slim.min.js", crossorigin="anonymous")
        script(nonce=nonce, src="https://unpkg.com/axios/dist/axios.min.js")
        script
            include recovermfa.js
        section#head.section
            .row
                .col-lg-12
                    .h-100.p-5.bg-light.rounded-3(style="max-width: 800px; margin: auto; margin-top: 50px; box-shadow: 1px 1px 2px slategrey;")
                        h2.center.m-b-10=title
                        p.center.m-b-20=message
                        div(id='flash')
                        div(id="getInfo")
                            p To get started, please type in your email/username and password:
                            input.fields(type="email" id="email" aria-describedby="emailHelp" placeholder="email...")
                            input.fields(type="password" id="password" placeholder="password")
                            button.field-button.btn.btn-outline-dark(id='recover-button') Recover
                        //hide this....
                        div(id="notify")
                            div(id='notify-ready')
                        //hide this....
                        div(id="resetting")
                        center.m-t-5
                            .hidden(id='loading')
                        .m-t-10.center
                            if (tosUri || (authGroup && authGroup.primaryTOS))
                                a(href=(tosUri || authGroup.primaryTOS)) [ Terms of Service ]
                            if (policyUri || (authGroup && authGroup.primaryPrivacyPolicy))
                                a(href=(policyUri || authGroup.primaryPrivacyPolicy) style="margin-left: 5px") [ Privacy Policy ]