extends layout

block content
    body
        section#head.section
            .limiter
                .container-login100
                    .wrap-login100
                        form.login100-form.validate-form(autocomplete='off', action='/'+authGroup+'/interaction/'+uid+'/passwordless', method='post')
                            if (client)
                                span.login100-form-title.p-b-10=client.clientName
                                if (authGroupName !== client.clientName)
                                    h3.login100-form-title.p-b-5=authGroupName
                            else
                                span.login100-form-title.p-b-10=authGroupName
                            if (flash)
                                h5.flash.m-b-20= flash
                            p.m-b-20 Type in your email address and if you have an account with #{authGroupName}, we will send you a secure password free login link!
                            .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
                                input.input100(type='email' name='email' autofocus='on')
                                span.focus-input100
                                span.label-input100 Email

                            .flex-sb-m.w-full.p-t-3.p-b-32
                                div
                                    a.txt1(href='/' + authGroup + '/forgotpassword')
                                        | Forgot Password?
                            .container-login100-form-btn
                                button.login100-form-btn(type='submit')
                                    | Send Link
                            .login-help.p-t-10
                                a(href='/' + authGroup + '/interaction/' + uid + '/abort') [ Cancel ]
                                if (client.tosUri || tos)
                                    a(href=(client.tosUri || tos)) [ Terms of Service ]
                                if (client.policyUri || policy)
                                    a(href=(client.policyUri || policy)) [ Privacy Policy ]
                        if (splashImage)
                            .login100-more(style="background-image: url('" + splashImage + "');")
                        else
                            .login100-more(style="background: linear-gradient(279.3deg, " + bgGradientLow + " 4.36%, " + bgGradientHigh + " 96.71%);")