extends ../uelayout

block content
    body.bg.flex
        .utility-panel
            if (flash)
                .flash-container.m-b-20
                    p=flash
            if (logoUri)
                img.logo(src=logoUri alt='Product Logo')
            else if (authGroupLogo)
                img.logo(src=authGroupLogo alt='Platform Logo')
            if (authGroup && authGroup.name)
                p.org-name=authGroup.name
            if (clientName)
                p.product-name=clientName
            p#title.header=title
            p#instruct.description.center=message
            if (clientUri || authGroup.primaryDomain)
                a.btn.btn-outline-dark.btn-custom(href=(clientUri || authGroup.primaryDomain)) Back to #{clientName || authGroup.name}
            if (initiateLoginUri)
                a.btn.btn-outline-dark.btn-custom.m-t-20(href=initiateLoginUri) Login
            .tandc.p-b-20.width-auto.center
                if (tosUri || (authGroup && authGroup.primaryTOS))
                    a(href=(tosUri || authGroup.primaryTOS)) Terms of Service
                if (policyUri || (authGroup && authGroup.primaryPrivacyPolicy))
                    a(href=(policyUri || authGroup.primaryPrivacyPolicy)) Privacy Policy