extends ../uelayout

block content
    script(nonce=nonce, type="text/javascript").
        let state = '#{state}';
        const authGroupId = '#{authGroup.id}';
        const url = '#{request}';
        const domain = '#{domain}';
        const iat = '#{token}';
        const accountId = '#{accountId}';
        const email = '#{email}';
    script(nonce=nonce, src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js")
    script(nonce=nonce, src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script
        include recovermfa.js
    body.bg.flex
        .panel.middle-panel
            if (flash)
                #flash-container.flash-container.mfa-flash
                    p#flash=flash
            else
                #flash-container.hidden.flash-container.mfa-flash
                    p#flash=flash
            if (authGroupLogo)
                img.logo(src=authGroupLogo alt='Platform Logo')
            if (authGroup && authGroup.name)
                p.org-name=authGroup.name
            p#title.header=title
            p#instruct.description=message
            #verifiedIdentity.hidden
                .credentials
                    div Your identity is confirmed, #{email || accountId}
                        if(email && accountId)
                            div
                                small.smaller.grey=accountId
                    h5 Click continue to create setup this device
                    button#verified.btn.btn-outline-dark.btn-custom.m-t-20 Continue
            #getInfo
                .credentials
                    p To get started, please type in your email address:
                    div
                        input#email(type='email' name='email' placeholder='Email' required='' autofocus='autofocus' onfocus='this.select()' autocomplete='username')
                        label(for='email') Email
                    button#recover-button.btn.btn-outline-dark.btn-custom.m-t-20 Continue
            #auth.hidden
                .credentials
                    div#passwordless.hidden
                        p Looks like there are a couple ways you can verify your identity. Choose one to continue.
                        button#passkey.hidden.btn.btn-outline-dark.btn-custom.m-t-10 Use Passkey
                        button#magic.hidden.btn.btn-outline-dark.btn-custom.m-t-10 Send magic link email
                        span.orsi or sign in using
                    div
                        input#password(type='password' name='password' placeholder='Password' required='' autofocus='autofocus'  autocomplete='current-password')
                        label(for='password') Password
                    button#login.btn.btn-outline-dark.btn-custom.m-t-20 Sign in
            div#notify
                div#notify-ready
            div#resetting
            .center.m-t-5
                div#loading.m-t-20.hidden
            .tandc.p-b-20.center.width-auto
                if (authGroup && authGroup.primaryTOS)
                    a(href=(authGroup.primaryTOS)) Terms of Service
                if (authGroup && authGroup.primaryPrivacyPolicy)
                    a(href=(authGroup.primaryPrivacyPolicy)) Privacy Policy
                if (authGroup && authGroup.primaryEmail)
                    a(href='mailto:' + authGroup.primaryEmail) Contact #{authGroup.name}