extends ../uelayout

block content
    body.bg.flex
        .utility-panel
            if (flash)
                .flash-container.m-b-20
                    p=flash
            if (client && client.logoUri)
                img.logo(src=client.logoUri alt='Product Logo')
            else if (authGroupLogo)
                img.logo(src=authGroupLogo alt='Platform Logo')
            if (authGroup && authGroup.name)
                p.org-name=authGroup.name
            p#title.header=title
            p#instruct.description=message
            if(details)
                .m-t-20.detail-color.text-left
                    details.detail-color
                        summary More Information
                        p.detail-color.detail-background.wrap-overflow!=details
            if (redirect || (client && client.clientUri))
                a.btn.btn-outline-dark.btn-custom.m-t-20(href=(redirect || logoUri)) Go Home
            .tandc.p-b-20.center.width-auto
                if (authGroup && authGroup.primaryTOS)
                    a(href=(authGroup.primaryTOS)) Terms of Service
                if (authGroup && authGroup.primaryPrivacyPolicy)
                    a(href=(authGroup.primaryPrivacyPolicy)) Privacy Policy
                if (authGroup && authGroup.primaryEmail)
                    a(href='mailto:'+authGroup.primaryEmail) Contact #{authGroup.name}
                if (authGroup)
                    a(href='/' + authGroup.id + '/forgotpassword') Reset Password
                if (passkey === true)
                    a(href='/' + authGroup.id + '/set-passkey') Setup Passkey
                if (device === true)
                    a(href='/' + authGroup.id + '/recover-mfa') Setup Device
