extends ../uelayout

block content
    script(nonce=nonce, type="text/javascript").
        let state = '#{state}';
        const authGroupId = '#{authGroup.id}';
        const domain = '#{domain}'
    script(nonce=nonce, src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script
        include passkey.js
    body.bg.flex
        .panel.middle-panel
            if (flash)
                #flash-container.flash-container.mfa-flash
                    p#flash=flash
            else
                #flash-container.hidden.flash-container.mfa-flash
                    p#flash=flash
            if (authGroupLogo)
                img.logo(src=authGroupLogo alt='Platform Logo')
            if (authGroup && authGroup.name)
                p.org-name=authGroup.name
            p#title.header=title
            p#instruct.description=message
            div#confirm
                .credentials
                    p Your identity is confirmed, #{email}
                    p Click continue to create passkey for this device.
                    if (expires)
                        p This session expires at #{expires}
                    button#continue.btn.btn-outline-dark.btn-custom.m-t-20 Continue
            div#deviceIssue.hidden
                .credentials
                    p We're sorry, but this device does not support passkey. You may close this window
            center.m-t-5
                div#loading.m-t-20.hidden
            .tandc.p-b-20.center.width-auto
                if (authGroup && authGroup.primaryTOS)
                    a(href=(authGroup.primaryTOS)) Terms of Service
                if (authGroup && authGroup.primaryPrivacyPolicy)
                    a(href=(authGroup.primaryPrivacyPolicy)) Privacy Policy
                if (authGroup && authGroup.primaryEmail)
                    a(href='mailto:' + authGroup.primaryEmail) Contact #{authGroup.name}