block credentials
    .credential-container
        if (params.ssoPriority === true && altLogin == true && loginButtons.length !== 0)
            form#sso(autocomplete='off' action='/' + authGroup + '/interaction/' + uid + '/federated' method='post')
        form#mainLogin(autocomplete='off', action='/'+authGroup+'/interaction/'+uid+'/login', method='post')
            if (params.webAuthN === true)
                input#pkCreds(type="hidden" form='mainLogin' name="passkeyCredentials")
                input#pkAcc(type="hidden" form='mainLogin' name="accountId")
                input#localPasskey(type="hidden" form='mainLogin' name="localPasskey")
            if params.organization
                p.sign-in Sign in with #{params.organization.name}
            else
                if params.emailScreen === true
                    p.sign-in Enter your email
                else
                    p.sign-in Sign in
            .credentials
                if (params.ssoPriority === true && altLogin == true && loginButtons.length !== 0)
                    each val in loginButtons
                        input(type="hidden" name="upstream" value=val.code form='sso')
                        if val.button === 'google'
                            button#google.btn.btn-outline-dark.federated.m-t-10(type='submit' form='sso')
                                img(width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                                span.google-button__text=val.text
                        else if val.button === 'linkedin'
                            button#linkedin.btn.federated.m-t-10(type='submit')
                                i.fab.fa-linkedin
                                span.p-l-10=val.text
                        else if val.button === 'microsoft'
                            button#microsoft.btn.btn-outline-dark.federated.m-t-10(type='submit' form='sso')
                                i.fab.fa-windows
                                span.p-l-10=val.text
                        else if val.button === 'github'
                            button#github.btn.btn-outline-dark.federated.m-t-10(type='submit' form='sso')
                                i.fab.fa-github
                                span.p-l-10=val.text
                        else if val.button === 'twitter'
                            button#twitter.btn.federated.m-t-10(type='submit' form='sso')
                                i.fab.fa-twitter
                                span.p-l-10=val.text
                        else if val.button === 'apple'
                            button#apple.btn.federated.m-t-10(type='submit' form='sso')
                                i.fab.fa-apple
                                span.p-l-10=val.text
                        else
                            button.btn.btn-outline-dark.federated.m-t-10(type='submit' form='sso')
                                i.fas.fa-arrow-circle-right
                                span.p-l-10=val.text
                    span.orsi or sign in using
                if params.emailScreen === true
                    if !params.login_hint
                        div
                            input#email(type='email' name='email' placeholder='Email' required='' autofocus='autofocus' onfocus='this.select()' autocomplete='username')
                            label(for='email') Email
                    else
                        div
                            input#email(type='email' name='email' placeholder='Email' value=params.login_hint required='' autofocus='autofocus' onfocus='this.select()' autocomplete='username')
                            label(for='email') Email
                    if params.org
                        input.hidden-accessible#org(type='text', name='org', value=params.org)
                else
                    input#email(type='email' name='email' placeholder='Email' value=params.email required='' autofocus='autofocus' onfocus='this.select()' autocomplete='username')
                    label(for='email') Email
                    if params.login_hint
                        div
                            input#password.m-t-10(type='password' name='password' placeholder='Password' autofocus='autofocus'  autocomplete='current-password')
                            label(for='password') Password
                    else
                        div
                            input#password.m-t-10(type='password' name='password' placeholder='Password' autocomplete='current-password')
                            label(for='password') Password
                    span.fpsw
                        a(href='/'+authGroup+'/forgotpassword') Forgot your password?
            if params.emailScreen !== true
                button.btn-custom.btn-signin(type='submit' form='mainLogin') Sign in with password
            else
                if (altLogin === true && (params.passwordless === true || params.globalMfa === true || params.webAuthN === true))
                    if(params.ssoPriority !== true)
                        button#magic-email.btn-custom.btn-signin(type='submit' form='mainLogin' value='magic' name='action') Password-free login
                        span.orsi or sign in using
                    else
                        button#magic-email.btn-custom.btn-signin.m-b-10(type='submit' form='mainLogin' value='magic' name='action') Password-free login
                if params.sendVerifyButton === true
                    script(nonce=nonce, src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
                    script(nonce=nonce, type="text/javascript").
                        const url = '#{params.api}';
                    script
                        include verify.js
                    button.btn-custom.btn-signin#veriMail(value='email' name='action') Send verification email
                else
                    button.btn-custom.btn-signin(type='submit' form='mainLogin' value='email' name='action') Continue with email
        if altLogin === true
            if (loginButtons.length !== 0 && params.ssoPriority !== true)
                if((params.emailScreen === true && params.passwordless !== true) || params.emailScreen !== true)
                    span.orsi or sign in using
                each val in loginButtons
                    form(autocomplete='off', action='/' + authGroup + '/interaction/' + uid + '/federated', method='post')
                        input(type="hidden" name="upstream" value=val.code)
                        if val.button === 'google'
                            button#google.btn.btn-outline-dark.federated.m-t-10(type='submit')
                                img(width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                                span.google-button__text=val.text
                        else if val.button === 'linkedin'
                            button#linkedin.btn.federated.m-t-10(type='submit')
                                i.fab.fa-linkedin
                                span.p-l-10=val.text
                        else if val.button === 'microsoft'
                            button#microsoft.btn.btn-outline-dark.federated.m-t-10(type='submit')
                                i.fab.fa-windows
                                span.p-l-10=val.text
                        else if val.button === 'github'
                            button#github.btn.btn-outline-dark.federated.m-t-10(type='submit')
                                i.fab.fa-github
                                span.p-l-10=val.text
                        else if val.button === 'twitter'
                            button#twitter.btn.federated.m-t-10(type='submit')
                                i.fab.fa-twitter
                                span.p-l-10=val.text
                        else if val.button === 'apple'
                            button#apple.btn.federated.m-t-10(type='submit')
                                i.fab.fa-apple
                                span.p-l-10=val.text
                        else
                            button.btn.btn-outline-dark.federated.m-t-10(type='submit')
                                i.fas.fa-arrow-circle-right
                                span.p-l-10=val.text
            if(params.emailScreen !== true && (params.passwordless === true || params.globalMfa === true || params.webAuthN === true))
                if(loginButtons.length !== 0 && params.ssoPriority !== true)
                    button#magic-email.btn-custom.btn-signin.m-t-10(type='submit' form='mainLogin' value='magic' name='action') Password-free login
                else
                    if(params.ssoPriority !== true)
                        span.orsi or sign in using
                        button#magic-email.btn-custom.btn-signin(type='submit' form='mainLogin' value='magic' name='action') Password-free login
                    else
                        button#magic-email.btn-custom.btn-signin.m-t-10(type='submit' form='mainLogin' value='magic' name='action') Password-free login
            if (locked === false && registerUrl)
                .signup#signup
                    span Need to sign up? &nbsp;
                        a(href=registerUrl target="_blank") Create an account