block credentials
    .credential-container
        form#mainLogin(autocomplete='off', action='/'+authGroup+'/interaction/'+uid+'/login', method='post')
            if params.organization
                p.sign-in Sign in with #{params.organization.name}
            else
                if params.emailScreen === true
                    p.sign-in Enter Your Email
                else
                    p.sign-in Sign In
            .credentials
                if params.emailScreen === true
                    if !params.login_hint
                        div
                            input#email(type='email' name='email' placeholder='Email' required='' autofocus='autofocus' onfocus='this.select()' autocomplete='username')
                            label(for='email') Email
                    else
                        div
                            input#email(type='email' name='email' placeholder='Email' value=params.login_hint required='' autofocus='autofocus' onfocus='this.select()' autocomplete='username')
                            label(for='email') Email
                    if params.org
                        input.hidden-accessible#org(type='text', name='org', value=params.org)
                else
                    input.hidden-accessible#email(type='text', name='email', autocomplete='username', value=params.email)
                    if params.login_hint
                        div
                            input#password(type='password' name='password' placeholder='Password' autofocus='autofocus'  autocomplete='current-password')
                            label(for='password') Password
                    else
                        div
                            input#password(type='password' name='password' placeholder='Password' autocomplete='current-password')
                            label(for='password') Password
            span.fpsw
                a(href='/'+authGroup+'/forgotpassword') Forgot your password?
                if (locked === false && registerUrl)
                    a.fpsw-reg(href=registerUrl) Register Here
            if params.emailScreen !== true
                button.btn-custom.btn-signin(type='submit') Sign In
            else
                button.btn-custom.btn-signin(type='submit' form='mainLogin' value='email' name='action') Continue
        if altLogin === true
            span.orsi or sign in using
            if params.passwordless === true
                button#magic-email.btn.btn-custom(type='submit' form='mainLogin' value='magic' name='action') Magic Link email
                //a#magic-email.btn.btn-custom(href='/' + authGroup + '/interaction/' + uid + '/passwordless-request') Magic Link Email
            if loginButtons.length !== 0
                each val in loginButtons
                    form(autocomplete='off', action='/' + authGroup + '/interaction/' + uid + '/federated', method='post')
                        input(type="hidden" name="upstream" value=val.code)
                        if val.button === 'google'
                            button#google.btn.btn-outline-dark.federated.m-t-20(type='submit')
                                img(width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                                span.google-button__text=val.text
                        else if val.button === 'linkedin'
                            button#linkedin.btn.federated.m-t-20(type='submit')
                                i.fab.fa-linkedin
                                span.p-l-10=val.text
                        else if val.button === 'microsoft'
                            button#microsoft.btn.btn-outline-dark.federated.m-t-20(type='submit')
                                i.fab.fa-windows
                                span.p-l-10=val.text
                        else if val.button === 'github'
                            button#github.btn.btn-outline-dark.federated.m-t-20(type='submit')
                                i.fab.fa-github
                                span.p-l-10=val.text
                        else if val.button === 'twitter'
                            button#twitter.btn.federated.m-t-20(type='submit')
                                i.fab.fa-twitter
                                span.p-l-10=val.text
                        else if val.button === 'apple'
                            button#apple.btn.federated.m-t-20(type='submit')
                                i.fab.fa-apple
                                span.p-l-10=val.text
                        else
                            button.btn.btn-outline-dark.federated.m-t-20(type='submit')
                                i.fas.fa-arrow-circle-right
                                span.p-l-10=val.text