block loginWithMFA
    script(nonce=nonce, src="https://unpkg.com/axios/dist/axios.min.js")
    script(type="text/javascript").
        const authGroup = '#{authGroup}';
        const uid = '#{uid}';
        const accountId = '#{mfa.accountId}'
        const providerKey = '#{mfa.providerKey}'
    script(nonce=nonce)
        include mfapolling.js
    .credential-container
        p#mfa-pending.sign-in Check your device for Multi Factor Authorization
        .credentials
        center
            div#loading
        div#mfa
        div#mfa-try-again(style='visibility: hidden')
            span#reconnect(style="font-size: 20px;").m-t-10 If you need to reconnect your device to your account, use the 'Restore MFA' link below. Otherwise click to retry login.
            div
                a.btn.btn-outline-dark.federated.m-t-10(href='/' + authGroup + '/interaction/' + uid)
                    i.fas.fa-undo
                    span.p-l-10 Try Again