extends ../uelayout

block content
    script(nonce=nonce, type="text/javascript").
        let state = '#{state}';
        const authGroupId = '#{authGroup}';
        const domain = '#{domain}';
        let agWebAuthN = '#{params.webAuthN}'
        let agMagicLink = '#{params.passwordless}'
        let agDevice = '#{params.globalMfa}'
    script(nonce=nonce, src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(nonce=nonce, type='module')
        include passkey.js
    body.bg.flex
        if(align === 'middle')
            .panel.middle-panel.width-auto
                include primary
        else
            .panel
                include primary
