block primary
    if (flash)
        .flash-container.m-b-20
            p#flash=flash
    if (client && client.logoUri)
        img.logo(src=client.logoUri alt='Product Logo')
    else if (authGroupLogo)
        img.logo(src=authGroupLogo alt='Platform Logo')
    p.org-name=authGroupName
    if (client)
        p.product-name=client.clientName
    if (params.selfIdentify === true)
        include selfIdentify
    else if (!mfa || mfa.pending !== true)
        include credentials
    else if (mfa.bindUser === true)
        include bindUser
    else
        include loginWithMFA
    .tandc.p-b-20
        a(href='/' + authGroup + '/interaction/' + uid + '/abort') Cancel
        if (client.tosUri || tosUri)
            a(href=(client.tosUri || tosUri)) Terms of Service
        if (client.policyUri || policyUri)
            a(href=(client.policyUri || policyUri)) Privacy Policy
        a(href='/' + authGroup + '/recover-mfa' target='_blank') Restore MFA