extends ../uelayout

block content
    script(nonce=nonce, type="text/javascript").
        const authGroup = '#{authGroup}';
        const start = '#{startRecoveryUri}';
        const recover = '#{recoverUri}'
    script(nonce=nonce, src="https://unpkg.com/axios/dist/axios.min.js")
    script
        include panic.js
    body.bg.flex
        .utility-panel
            .flash-container.m-b-20.hidden
                p#fl=flash
            if (authGroupLogo)
                img.logo(src=authGroupLogo alt='Platform Logo')
            if (authGroup && authGroup.name)
                p.org-name=authGroup.name
            p#title.header=title
            p#instruct.description=message
            center.m-t-5
                div#loading.m-t-20.hidden
            .credentials
                div#start.center
                    p To get started, type your email address and your 10 recovery codes, then click "Recover". This may take a minute.
                    div
                        input#email(type='email' name='email' placeholder='Email' required='' autofocus='autofocus' onfocus='this.select()')
                        label(for='email') Email
                    div
                        input#code1(type='text' name='code1' required='' aria-describedby="code1")
                        label(for='code1') Code 1
                    .m-t-10
                        input#code2(type='text' name='code2' required='' aria-describedby="code2")
                        label(for='code2') Code 2
                    .m-t-10
                        input#code3(type='text' name='code1' required='' aria-describedby="code3")
                        label(for='code3') Code 3
                    .m-t-10
                        input#code4(type='text' name='code1' required='' aria-describedby="code4")
                        label(for='code4') Code 4
                    .m-t-10
                        input#code5(type='text' name='code5' required='' aria-describedby="code5")
                        label(for='code5') Code 5
                    .m-t-10
                        input#code6(type='text' name='code6' required='' aria-describedby="code6")
                        label(for='code6') Code 6
                    .m-t-10
                        input#code7(type='text' name='code7' required='' aria-describedby="code7")
                        label(for='code7') Code 7
                    .m-t-10
                        input#code8(type='text' name='code8' required='' aria-describedby="code8")
                        label(for='code8') Code 8
                    .m-t-10
                        input#code9(type='text' name='code9' required='' aria-describedby="code9")
                        label(for='code9') Code 9
                    .m-t-10
                        input#code10(type='text' name='code10' required='' aria-describedby="code10")
                        label(for='code10') Code 10
                    .m-t-20
                        button#start-recovery.btn.btn-block.btn-outline-dark.btn-custom Recover Account
                div#recover.center.hidden
                    p Great news! Your codes were recognized. Now please retype your email address and choose a new password. When you hit "Submit", your account will unlock, your password will be reset to the new one, and new recovery codes will be generated. Your new password and codes will be displayed on the screen. Please copy your new recovery codes and store them somewhere safe, you will never see them displayed again.
                    div
                        input#email2(type='email' name='email' placeholder='Email' required='' autofocus='autofocus' onfocus='this.select()' autocomplete='username')
                        label(for='email2') Email
                    p If you leave both password fields blank, one will be generated for you.
                    div
                        input#password(type='password' name='password' placeholder='Password' required='' autocomplete='password')
                        label(for='password') Password
                            i#togglePassword1.fa.fa-eye-slash.m-l-10
                    .m-t-10
                        input#reenter-password(type='password' name='password' placeholder='Password' required='' autocomplete='password')
                        label.psw-match(for='reenter-password') Confirm Password
                            i#togglePassword2.fa.fa-eye-slash.m-l-10
                    .m-t-10
                        button#submit-recover.btn.btn-outline-dark.btn-custom Submit
                div#result.center.hidden
                    h5 Your New Password
                    div
                        input#showpass(type='password' disabled name='password' placeholder='Password' required='')
                        label(for='showpass') New Password
                            i#togglePassword3.fa.fa-eye-slash.m-l-10
                            i#copyPassword.m-l-10.fa.fa-copy
                    h5 Your New Codes
                        i#copyCodes.m-l-20.fa.fa-copy
                    textarea#newCodes.text-area-codes(disabled aria-describedby="new codes")
                    p.m-t-20 Your account is now unlocked. Copy your password and codes and store them somewhere safe. Any MFA devices you may have had are no longer enabled. You are strongly encouraged to change your email password and then re-enable MFA on your device by clicking the Restore MFA link below.
                    h5 When ready, you may navigate to your login page and close this window.
            .tandc.p-b-20.center.width-auto
                if (authGroup && authGroup.primaryTOS)
                    a(href=(authGroup.primaryTOS)) Terms of Service
                if (authGroup && authGroup.primaryPrivacyPolicy)
                    a(href=(authGroup.primaryPrivacyPolicy)) Privacy Policy
                if (authGroup)
                    a(href='/' + authGroup.id + '/recover-mfa' target='_blank') Restore MFA
                if (authGroup && authGroup.primaryEmail)
                    a(href='mailto:' + authGroup.primaryEmail) Contact #{authGroup.name}